// colors
$color-primary = #0D346B
$color-secondary = #15A299
$color-red = #BC1323
$color-white = #FFFFFF

$blue = #D3E6EE #2699FB #3B567D #0D346B #02173D
$black = #E5E6E8 #A3A5A8 #707070 #6E6E6E #444444

$height-navbar = 72px

// margins and paddings
$values-reponsive-sizes = {
  'xs': 24 32 40,
  'md': 32 40 56,
  'lg': 40 64 96,
}

$attributes-responsive-parts =  '', '-top','-right','-bottom','-left','-right' '-left','-top' '-bottom'

$values-sizes = 0 4 8 12 16 24 32 40 48 56 64 72 96