.h1
  @extend .font-krub 
  @extend .fs-5x 
  @extend .strong 
  @extend .color-blue-4 
  @extend .lh-1x

.h2
  @extend .font-krub
  @extend .fs-4x
  @extend .strong

.h3
  @extend .color-black-3
  @extend .fs-3x
  @extend .strong
  @extend .lh-3x

.h4
  @extend .fs-3x
  @extend .color-blue-4
  @extend .strong

.h5
  @extend .fs-2x
  @extend .color-blue-4
  @extend .strong

.h6
  @extend .fs-1x
  @extend .color-blue-4
  @extend .strong
  @extend .lh-2x
