.flex
  display: flex;

.flex-direction-row, .flex-row, .fd-row
  flex-direction: row;
.flex-direction-row-reverse, .flex-row-reverse, .fd-row-reverse
  flex-direction: row-reverse;
.flex-direction-column, .flex-column, .fd-column
  flex-direction: column;
.flex-direction-column-reverse, .flex-column-reverse, .fd-column-reverse
  flex-direction: column-reverse;

.justify-content-space-between, .jc-space-between
  justify-content: space-between;
.justify-content-space-around, .jc-space-around
  justify-content: space-around;
.justify-content-center, .jc-center
  justify-content: center;
.jc-end
  justify-content: flex-end;

.align-items-center, .ai-center
  align-items: center;
.align-items-start, .ai-start
  align-items: flex-start;
.align-items-end, .ai-end
  align-items: flex-end;

.flex-grow
  flex-grow: 1;
.flex-wrap
  flex-wrap: wrap
