.bg-image-cover
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

.bg-image-contain
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

.img-responsive
  max-width: 100%;
  height: auto;
