ul.table-of-contents{
    border: 2px solid #dadada;
    padding: 20px 30px 12px;
}

ul.table-of-contents:before{
    content: 'Índice de Conteúdo';
    color: #A6B0BC;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
}

ul.table-of-contents > li{
    list-style-type: decimal;
    margin-left: 15px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: #3396ff;
}

ul.table-of-contents > li:hover{
    color: #344146;
}

ul.table-of-contents li > a{
    display: block;
    line-height: 20px;
}