.custom-list-card
    background #d8d8d8
    border-radius 8px

    .picture
        align-self flex-end
        padding-bottom 0
        position relative

        img
            min-width 100%

        .spaces
            width 50px
            height 50px
            background #41abaf
            position absolute
            bottom 5px
            right 25px
            border-radius 25px
            color white
            text-align center

            .number
                font-size 15px
                font-weight bold

    > .text
        position relative

        a
            font-size 11px
            position absolute
            bottom -10px
            right 12px
            padding 10px 20px
            border-radius 20px
    
    p
        margin 0

    .occupation
        font-size 20px
        font-weight bold
        color #2978ab
        margin-bottom 10px
    
    .team
        font-size 14px
        color #717171
        text-transform uppercase

    .place
        font-size 15px
        color #565656
        font-weight bold
        margin 15px 0 10px
        line-height 1.2

    .conditions
        font-size 15px
        color #717171
        margin-bottom 10px