.transition {
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.animation-none:hover{
    animation: none;
}

.opacity {
    opacity: 0.7;
}

.opacity:hover {
    opacity: 1;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.shrink:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/*
 pulse
 */
.pulse-infinite{
    -webkit-animation: pulse-infinite 4s linear infinite alternate;
    animation: pulse-infinite 4s linear infinite alternate;
}

@-webkit-keyframes pulse-infinite {
    from {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: .8;
    }
    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse-infinite {
    from {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: .8;
    }
    to {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/*
bounceInDown
 */
.bounceInDown {
    animation-duration: 0.75s;
    animation-name: bounceInDown;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}