@media (max-width: 1024px)
  .top-course-page
     min-height: 260px !important

@media (max-width: 736px)
  .top-course-page
     min-height: 195px !important

@media (max-width: 640px)
  .top-course-page
     min-height: 165px !important

@media (max-width: 414px)
   .top-course-page
     min-height: 90px !important

@media (max-width: 360px)
   .top-course-page
     min-height: 70px !important