.custom-bg-dinheiro
  background-image: url('../img/bg-dinheiro.webp');
  background-repeat: no-repeat;
  background-position: center;

.custom-courses
  background: url('../img/bg-2.webp') no-repeat center;
  background-size: cover;
  position: relative;
  &:after
    content: 'OU';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    color: white;
    font-weight: bold;
    @extends .fs-3x
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    +above('sm')
      width: 56px;
      height: 56px;

.custom-testimonials-card
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 88px;
  position: relative;
  img {
    position: absolute;
    top: 16px;
    left: 16px;
  }

.custom-section-educacao-financeira
  a
    text-decoration: none;
    &:hover
      text-decoration: underline;

.custom-section-estatisticas 
  > *
    > *
      max-width: 960px;
      margin: auto;
      > *
        max-width: 220px;
        min-width: 220px;

.custom-section-redes-sociais
  > *:first-child
    margin-top: 8px;
  img, svg
    margin: 8px;
    width: 40px;
  .flex
    justify-content: center
  a
    transition: transform ease 0.3s;
    display: block;
    transform: scale(1.2);
    &:hover
      transform: scale(1.3);

+above('md')
  .custom-section-estatisticas 
    > *
      > *
        > *
          max-width: inherit;

  .custom-section-educacao-financeira
    background: url('../img/bg-clube-do-valor-1.jpg') no-repeat center right;
    background-size: contain;

  .custom-bg-dinheiro
    background-size: cover;

  .custom-section-header
    background: $blue[0] url(../img/placeholder-image.png) no-repeat center;

  .custom-testimonials-card
    transform: scale(0.9);
    transition: transform ease 0.3s;
    margin-left: 8px;
    margin-right: 8px;
  .glide__slide--active
    .custom-testimonials-card
      transform: scale(1);

  .custom-presentation
    padding-left: 32px;
    max-width: 420px;

  .custom-section-redes-sociais
    .flex
      justify-content: flex-start;


